table {
   width: 100%;
   border-top: 1px solid #444444;
   border-collapse: collapse;
 }
 th, td {
   border-bottom: 1px solid #444444;
   padding: 10px;
 }
.type{
  font-weight: bold;
}
#day{
  font-weight: bold;
  font-size: 25px;
}
