table{
  margin-left: auto;
  margin-right: auto;
}
tr{
  text-align: center;

}

p{
  text-align: center;
  font-weight: 1000;
  font-size: 50px;
}

.intClass{
  width: 70%;
  height: 50px;
  display: inline-block;
  margin-bottom: 10px;
}

.labelClass{
  font-weight: 700;
  font-size: 25px;
}

.radioUL{
  list-style: none;
  padding-left: 0;
  margin-bottom: 10px;
}
.radioUL li{
  display: inline-block;
  height:50px;
  position:relative;
}
.radioUL input, .radioUL label{
  display: inline-block;
  position:absolute;
  width: 100%;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
.radioUL input[type="radio"] {
  opacity:0.011;
  z-index:100;
}
.radioUL input[type="radio"]:checked + label {
  background: grey;
}
.radioUL label {
  border:1px solid #AAA;
  cursor:pointer;
  z-index:90;
  line-height: 43px;
}

#sex li{
  width: 34.6%;
}
#workoutdayPerWeek li{
  width:17%;
}
#calculator_goalperiod li{
  width:18%;
}


.button{
  width:80px;
  height:40px;
}
